@import 'tailwindcss/base';
@import './fonts.css';
@import './themes.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		scroll-padding-top: theme(width.16);
		scroll-behavior: smooth;
		scrollbar-gutter: stable;

		--scrollbar-bg: var(--background);
		--scrollbar-thumb: var(--muted);
	}

	html,
	body {
		@apply bg-background text-foreground;

		overscroll-behavior-y: none;
	}

	* {
		@apply border-border;

		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
		scrollbar-width: thin;
	}

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: var(--scrollbar-bg);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
	}

	:is(h1, h2, h3) {
		@apply font-bold;
	}

	.font-sans :is(h1, h2, h3) {
		@apply font-display font-normal;
	}

	@keyframes highlight {
		0% {
			outline-width: 2px;
			outline-color: var(--accent);
		}
		100% {
			outline-width: 2px;
			outline-color: transparent;
		}
	}

	:target {
		animation: highlight 3s ease-in;
	}

	.no-transition {
		transition: none !important;
	}

	.no-transition * {
		transition: none !important;
	}

	@media (prefers-reduced-motion: reduce) {
		* {
			transition: none !important;
			animation-delay: 0ms !important;
			animation-duration: 1ms !important;
		}
	}
}

@layer components {
	.content {
		--content-padding: theme(width.4);
		--content-margin: minmax(var(--content-padding), 1fr);
		--content-width: minmax(0, calc(theme(screens.lg)));

		display: grid;
		grid-template-columns:
			[full-start] var(--content-margin)
			[main-start] var(--content-width)
			[main-end] var(--content-margin) [full-end];
	}

	@media (min-width: theme(screens.sm)) {
		.content {
			--content-padding: theme(width.8);
		}
	}

	@media (min-width: theme(screens.lg)) {
		.content {
			--content-padding: theme(width.12);
		}
	}

	.content.fullscreen,
	.fullscreen .content {
		--content-margin: var(--content-padding);
		--content-width: 1fr;
	}

	.content > * {
		grid-column: main;
	}

	.content > .full {
		grid-column: full;
	}

	.invertible {
		@apply invert-[var(--invert,0)];
	}

	.focusable {
		@apply bg-card focus-visible:border-contrast disabled:text-muted disabled:focus-visible:border-border appearance-none overflow-hidden rounded-lg border-2 transition outline-none disabled:cursor-default;
	}

	.interactable {
		@apply focusable focus-visible:outline-contrast hv:border-contrast disabled:hv:border-border cursor-pointer select-none;
	}

	.icon-interactable {
		@apply text-muted hv:text-foreground -m-1 ml-1 p-1 transition;
	}

	.box {
		@apply bg-card rounded-lg border-2 p-4 lg:p-6;
	}

	.alert {
		@apply border-secondary-border bg-secondary text-secondary-foreground rounded-lg border-2;
	}

	.link {
		@apply text-accent hv:decoration-current rounded underline decoration-transparent underline-offset-4 outline-offset-4 transition-colors outline-none focus-visible:outline-current;
	}

	.nav-item {
		@apply bg-card rounded-lg border-2 p-2 transition-colors sm:rounded-t-none sm:border-t-0;
	}

	.nav-item-interactive {
		@apply nav-item focus-visible:outline-contrast hv:border-contrast outline-none;
	}
}
